# Virtual environment
venv/
env/

# Python
__pycache__/
*.py[cod]

# Django
db.sqlite3
*.log

# Environment variables
.env

# VS Code
.vscode/

# Node (React later)
node_modules/
build/
dist/

# OS files
.DS_Store
Thumbs.db