* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Science Gothic", sans-seriff;
  background-color: #F4F7F9;
  color: #1F2937;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Space Mono", monospace;
}

button,
a,
nav {
  font-family: "Oxanium", sans-serif;
}